body {
  font-family: "Dosis", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
  font-family: "Homemade Apple", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

div .thoughts {
  font-family: "Homemade Apple" cursive;
  text-align: center;
}
div .post {
  font-family: "Dosis", sans-serif;
  border: 1px solid black;
  text-align: center;
}

div .socialPosts {
  text-align: center;
  font-family: "Dosis", sans-serif;
}
